<div class="header">
  <div class="logo">HODLINFO<span>.com</span></div>
  <div class="logo2">Powerwd By <span>Finstreet</span></div>

  <div class="dropdown">
    <button class="dropbtn">INR</button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>


  <div class="dropdown2">
    <button class="dropbtn2">BTC</button>
    <div class="dropdown-content2">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>

  <div class="circle">
    <button class="circlebtn">58</button>
  </div>

  <div class="telegram">
    <button class="telegrambtn"><a href="src\assets\image\telegramapp.png"></a>Connect Telegram</button>

  </div>


  <input type="checkbox" id="switch" class="checkbox" />
  <label for="switch" class="toggle">
  </label>


</div>




  <table class="table">
  <tr>
    <th>#</th>
    <th>name</th>
    <th>Last</th>
    <th>Buy/Sell Prize</th>
    <th>Volume</th>
    <th>Base_unit</th>
  </tr>

  <tr>
    <td>a</td>
    <td>b</td>
    <td>c</td>
    <td>d</td>
    <td>e</td>
    <td>f</td>
  </tr>

  <tr>
    <td>a</td>
    <td>b</td>
    <td>c</td>
    <td>d</td>
    <td>e</td>
    <td>f</td>
  </tr>

  <tr>
    <td>a</td>
    <td>b</td>
    <td>c</td>
    <td>d</td>
    <td>e</td>
    <td>f</td>
  </tr>
  </table>

